@mixin icon($image,$color)
{
    background-color: #fff;
    background-image: url($image);
    background-repeat: no-repeat;
    background-position: center;
    border-color: $color;
    box-shadow: inset 0px 5px 2px gray,
    0px 8px darken($color,20%);
}